<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
</head>
<body>
	<div class="container" style="border: 2px solid #99c2de;">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" href="/main">Active</a></li>
			<li class="nav-item"><a class="nav-link" href="/home">Link</a></li>
			<li class="nav-item"><a class="nav-link" href="/hello">Link</a></li>
		</ul>
	</div>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>