<!DOCTYPE html>
<html ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{lbl.wrk.visit}"></title>

<link rel="stylesheet" href="/node_modules/angularjs-bootstrap-jquery/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.css" />
<link rel="stylesheet" href="/css/styles.css" />

<script src="node_modules/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-utils/ui-utils.min.js"></script>
<script src="/node_modules/angularjs-bootstrap-jquery/jquery/jquery.min.js"></script>
<script src="/node_modules/angularjs-bootstrap-jquery/bootstrap/js/bootstrap.min.js"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>

<script src="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>

<script src="/js/workVisitController.js"></script>

</head>
<body>
Sachin
</body>
</html>
