<!DOCTYPE html>
<html ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Work Visit</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/node_modules/angularjs-datepicker/src/css/angular-datepicker.css" />
<link rel="stylesheet" href="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.css" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
<script src="/node_modules/moment/min/moment.min.js"></script>
<script src="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
<script src="/js/workVisitController.js"></script>

</head>
<body>
	<div class="container" style="border: 1px solid #cecece;">
		<div class="col-sm-12" ng-controller="postcontroller">
			<form name="workVisitForm" ng-submit="submitForm(workVisitForm.$valid)" novalidate="true">

				<div class="alert alert-success" ng-show="showSuccessAlert">
					<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>
					<strong>Done!</strong> {{successTextAlert}}
				</div>


				<!-- <label>FirstName</label> <input type="text" name="firstname" class="form-control" ng-model="firstname" /> <input type="text" name="lastname" class="form-control"
					ng-model="lastname" /> -->
				<h4 th:text="'WORK VISIT'" />
				<p>Schedule a Work Visit by providing the IBX and Cage you will need access to the dates and times of the visit and some basic information about the visitors who
					will be arriving at the site.</p>
				<h4 th:text="'IBX Information'" />

				<div class="row panel panel-default">
					<div class="col-sm-4 margin-10">
						<label><h5 th:text="'IBX'" /></label><span class="required">*</span> <select style="width: auto;" ng-model="ibx" name="ibx"
							ng-options="o.ibx for o in IbsVals | unique:'ibx'" ng-change="getCage()" ng-required="true">
							<option value="">Select an IBX</option>
						</select>
						<p ng-show="workVisitForm.ibx.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.ibx.$dirty)" class="text-danger">Please Select IBX</p>
					</div>
					<div class="col-sm-4 margin-10">
						<label><h5 th:text="'Cage/Suite'" /></label><span class="required">*</span> <select style="width: auto;" ng-model="cage" name="cage"
							ng-options="o.cage for o in cageList | unique:'cage'" ng-change="getCabinet()" ng-required="true">
							<option value="">Select a Cage</option>
						</select>
						<p ng-show="workVisitForm.cage.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.cage.$dirty)" class="text-danger">Please Select Cage</p>
					</div>
					<div class="col-sm-4 margin-10">
						<label><h5 th:text="'Cabinets'" /></label><span class="required">*</span> <select style="width: auto;" ng-model="cabinet" name="cabinet"
							ng-options="o.cabinet for o in cabinetList | unique:'cabinet'" ng-required="true">
							<option value="">Select Cabinets</option>
						</select>
						<p ng-show="workVisitForm.cabinet.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.cabinet.$dirty)" class="text-danger">Please Select
							Cabinet</p>
					</div>
				</div>
				<h4 th:text="'Visitor(s)'" />
				<p>Please select the users that will be visiting the IBX by checking the box next to their name. User details can be viewed by expanding theri list entry. Search
					by last name to locate users.</p>

				<div class="row">
					<div class="col-sm-6 margin-80">

						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<td><input ng-model="f.lastName" th:placeholder="'Enter Name'" /></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="visitor in visitors | filter:f" ng-disabled="selVisitors" ng-click="wvSelected(visitor);">
									<td width="410">{{visitor.firstName}}, {{visitor.lastName}}</td>
									<td><a id="release" th:href="@{/viewDetails/{{visitor.firstName}}}"><label style="border: 1px solid blue;" th:text="'View Details'" /> </a> <span>&nbsp;</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6 margin-10">
						<p>
						<h4>
							Verify Your Selections <a href="#"> <span class="glyphicon glyphicon-exclamation-sign"></span>
							</a>
						</h4>
						</p>
						<!-- <label><h4 th:text="'Verify Your Selections'" /> <span class="glyphicon glyphicon-exclamation-sign"></span></label> -->
						<table class="table table-striped">
							<tr>
								<th width="300">Name</th>
								<th width="300">Company</th>
								<th width="20"></th>
							</tr>

							<tr ng-repeat="selVisitor in selVisitors track by $index">
								<!-- <tr class="well"> -->
								<td width="300">{{selVisitor.userName}}</td>
								<td width="300">{{ selVisitor.company }}</td>
								<td width="20"><a ng-click="remove(selVisitor)"><label th:text="'Remove'" /> </a></td>
							</tr>
						</table>
						<p ng-show="!selVisitors.length &amp;&amp; (workVisitForm.$submitted)" class="text-danger">Please Verify your selection</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<div class="col-md-4">
							<label><h5 th:text="'Start Date/Time'" /></label><span class="required">*</span>
							<div class="input-group" moment-picker="startDate" min-date="minDateString" today="true" start-view="month" format="YYYY/MM/DD">
								<span class="input-group-addon"> <i class="octicon octicon-calendar"></i>
								</span> <input class="form-control" placeholder="Select a date" ng-model="startDate" name="startDate"
									ng-model-options="{ updateOn: 'blur' }" ng-required="true" />
							</div>
							<p ng-show="workVisitForm.startDate.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.startDate.$dirty)" class="text-danger">Please Select
								Start Date</p>
							<div class="input-group" moment-picker="startTime" format="LT">
								<span class="input-group-addon"> <i class="octicon octicon-clock"></i>
								</span> <input class="form-control" placeholder="Select a time" ng-model="startTime" name="startTime" ng-model-options="{ updateOn: 'blur' }" ng-required="true" />
							</div>
							<p ng-show="workVisitForm.startTime.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.startTime.$dirty)" class="text-danger">Please Select
								Start Time</p>
						</div>

						<div class="col-md-4">
							<label><h5 th:text="'End Date/Time'" /></label><span class="required">*</span>

							<div class="input-group" moment-picker="endDate" min-date="minEndDateString" today="true" start-view="month" format="YYYY/MM/DD">
								<span class="input-group-addon"> <i class="octicon octicon-calendar"></i>
								</span> <input class="form-control" placeholder="Select a date" ng-model="endDate" name="endDate" ng-model-options="{ updateOn: 'blur' }" ng-required="true" />
							</div>
							<p ng-show="workVisitForm.endDate.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.endDate.$dirty)" class="text-danger">Please Select End
								Date</p>

							<div class="input-group" moment-picker="endTime" format="LT">
								<span class="input-group-addon"> <i class="octicon octicon-clock"></i>
								</span> <input class="form-control" placeholder="Select a time" ng-model="endTime" name="endTime" ng-model-options="{ updateOn: 'blur' }" ng-required="true" />
							</div>
							<p ng-show="workVisitForm.endTime.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.endTime.$dirty)" class="text-danger">Please Select End
								Time</p>

							<!-- <datepicker date-format="yyyy-MM-dd" selector="form-control">
							<div class="input-group">
								<input class="form-control" ng-model="wv.endDate" placeholder="Choose a date" /> <span
									class="input-group-addon" style="cursor: pointer"> <i class="fa fa-lg fa-calendar"></i>
								</span>
							</div>
							</datepicker> -->
						</div>

					</div>
				</div>
				<div class="row" style="position: relative; left: 80%; right: 10%; bottom: 50%;">
					<label>Request Complete?</label>

					<button type="submit" class="btn btn-primary">Submit Request</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
<style>
input[type=text], select {
	width: 100%;
	padding: 10px 0;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

p.ridge {
	border-style: ridge;
}

.required {
	color: red;
}

select {
	min-width: 120px;
	max-width: 120px;
}

select:focus {
	width: auto;
}

tbody {
	height: 200px;
	display: inline-block;
	width: 100%;
	overflow: auto;
	width: 100%;
	border: 1px solid #ccc;
}

thead {
	display: inline-block;
}

tr[ng-click] {
	cursor: pointer;
}

.error-messages {
	color: red;
}
</style>
<script language="JavaScript" type="text/javascript">

</script>