<!DOCTYPE html>
<html ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" href="/images/equinix_logo.ico" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{lbl.wrk.visit}"></title>

<link rel="stylesheet" href="/node_modules/angularjs-bootstrap-jquery/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.css" />

<link rel="stylesheet" href="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.css" />

<link rel="stylesheet" href="/node_modules/angular-material/angular-material.min.css" />
<link rel="stylesheet" href="/node_modules/ng-material-datetimepicker/dist/material-datetimepicker.min.css" />

<link rel="stylesheet" href="/css/styles.css" />

<script src="node_modules/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-utils/ui-utils.min.js"></script>
<script src="/node_modules/angularjs-bootstrap-jquery/jquery/jquery.min.js"></script>
<script src="/node_modules/angularjs-bootstrap-jquery/bootstrap/js/bootstrap.min.js"></script>
<script src="/node_modules/moment/min/moment-with-locales.min.js"></script>

<script src="/node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>

<script src="/node_modules/angularjs-datepicker/dist/angular-datepicker.min.js"></script>

<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>

<script src="/node_modules/angular-material/angular-material.min.js"></script>

<script src="/node_modules/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
<script src="/node_modules/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js.map"></script>

<script src="/js/workVisitController.js"></script>

</head>
<body>
	<div class="container" style="border: 2px solid #99c2de;">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active" href="/main">Work Visit</a></li>
			<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/hello">Hello</a></li>
		</ul>

		<div class="col-sm-12" ng-controller="postcontroller">
			<form name="workVisitForm" ng-submit="submitForm(workVisitForm.$valid)" novalidate="true">

				<div class="alert alert-success" ng-show="showSuccessAlert">
					<button type="button" class="close" data-ng-click="reloadPage()">×</button>
					<strong>Done!</strong> {{postResultMessage}}
				</div>

				<h4 th:text="#{lbl.wrk.visit}" />
				<p th:text="#{lbl.wrk.visit.info}"></p>
				<h4 th:text="#{lbl.ibx.info}" />

				<div class="row panel panel-default">
					<div class="col-sm-4 margin-10">
						<label><h5 th:text="#{lbl.ibx}" /></label><span class="required">*</span> <select class="input-block-level" style="width: auto;" ng-model="ibx" name="ibx"
							ng-options="o.ibx for o in IbsVals | unique:'ibx'" ng-change="getCage()" ng-required="true">
							<option value="">Select an IBX</option>
						</select>
						<p ng-show="workVisitForm.ibx.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.ibx.$dirty)" class="text-danger">Please Select IBX</p>
					</div>
					<div class=" col-sm-4 margin-10">
						<label><h5 th:text="#{lbl.cage.suite}" /></label><span class="required">*</span> <select class="input-block-level" style="width: auto;" ng-model="cage" name="cage"
							ng-options="o.cage for o in cageList | unique:'cage'" ng-change="getCabinet()" ng-required="true">
							<option value="">Select a Cage</option>
						</select>
						<p ng-show="workVisitForm.cage.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.cage.$dirty)" class="text-danger">Please Select Cage</p>
					</div>
					<div class="col-sm-4 margin-10">
						<label><h5 th:text="#{lbl.cabinets}" /></label><span class="required">*</span> <select style="width: auto;" class="input-block-level" ng-model="cabinet"
							name="cabinet" ng-options="o.cabinet for o in cabinetList | unique:'cabinet'" ng-required="true">
							<option value="">Select Cabinets</option>
						</select>
						<p ng-show="workVisitForm.cabinet.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.cabinet.$dirty)" class="text-danger">Please Select
							Cabinet</p>
					</div>
				</div>
				<h4 th:text="#{lbl.vstrs}" />
				<p th:text="#{lbl.vstrs.info}"></p>

				<div class="row">
					<div class="col-sm-6 margin-80">

						<table class="table table-hover table-condensed">
							<thead>
								<tr>
									<td><input ng-model="f.lastName" th:placeholder="'Enter Name'" /></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="visitor in visitors | filter:f ">
									<td ng-click="wvSelected(visitor);" class="pointerSbl " width="390">{{visitor.firstName}}, {{visitor.lastName}}</td>
									<td><button type="button" class="btn button1" ng-click="getfunction(visitor)">View Details</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-6 margin-10">
						<p>
						<h4>
							<span th:text="#{lbl.vrf.slcts}"></span> <a href="#"> <span style="color: #20B2AA" class="glyphicon glyphicon-exclamation-sign"></span>
							</a>
						</h4>
						</p>
						<table class="table table-striped">
							<tr>
								<th width="300">Name</th>
								<th width="300">Company</th>
								<th width="150"></th>
							</tr>

							<tr ng-repeat="selVisitor in selVisitors track by $index">
								<!-- <tr class="well"> -->
								<td width="300">{{selVisitor.userName}}</td>
								<td width="300">{{ selVisitor.company }}</td>
								<td width="150"><a ng-click="remove(selVisitor)"><strong><span class="glyphicon pointerSbl">&#xe020;&nbsp;Remove</span> </strong></a></td>
							</tr>
						</table>
						<p ng-show="!selVisitors.length &amp;&amp; (workVisitForm.$submitted)" class="text-danger">Please Verify your selection</p>
					</div>
				</div>
				<div class="row">
					<div class="form-group form-inline">
						<div class="col-md-6 ">
							<label><h4 th:text="#{lbl.strt.dttm}" /></label><span class="required">*</span>
							<div class="input-group ">
								<span class="input-group-addon"> <i class="octicon octicon-calendar glyphicon glyphicon-calendar"></i>
								</span><input time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="YYYY-MM-DD" click-outside-to-close="true" show-todays-date=""
									ng-model="startDate" ng-change="getEndMinDate();" min-date="minDate" max-date="maxDate" class=" md-input" style="width: 100px; height: 30px" />
							</div>
							<div class="input-group">
								<span class="input-group-addon"> <i class="octicon octicon-clock glyphicon glyphicon-time"></i>
								</span> <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true" min-date="minDate" type="text" id="startTime" format="hh:mm a"
									short-time="true" ng-model="startTime" class=" md-input" style="width: 100px; height: 30px" />
							</div>
						</div>
						<p ng-show="workVisitForm.startDate.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.startDate.$dirty)" class="text-danger">Please Select
							Start Date</p>

						<div class="col-md-6 ">
							<label><h4 th:text="#{lbl.end.dttm}" /></label><span class="required">*</span>
							<div class="input-group">
								<span class="input-group-addon"> <i class="octicon octicon-calendar glyphicon glyphicon-calendar"></i>
								</span><input time="false" date="true" mdc-datetime-picker="" type="text" id="date" placeholder="End Date" click-outside-to-close="true" show-todays-date=""
									ng-model="endDate" min-date="minEndDate" max-date="maxDate" class=" md-input" style="width: 100px; height: 30px" />
							</div>
							<div class="input-group">
								<span class="input-group-addon"> <i class="octicon octicon-clock glyphicon glyphicon-time"></i>
								</span> <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true" min-date="minDate" type="text" id="endTime" format="hh:mm a"
									short-time="true" ng-model="endTime" class=" md-input" style="width: 100px; height: 30px" />
							</div>
						</div>
						<p ng-show="workVisitForm.endDate.$error.required &amp;&amp; (workVisitForm.$submitted || workVisitForm.endDate.$dirty)" class="text-danger">Please Select End
							Date</p>
						<p ng-show="endTimeValid" class="text-danger">{{errTimeMessage}}</p>
					</div>
				</div>
				<br /> <span class="required">* </span><span th:text="#{lbl.req.msg}"></span> <br /> <br />
				<div class="row col-md-12 backgroudFooter " style="position: absolute; bottom: 90; right: 90; text-align: right">
					<label th:text="#{lbl.rqst.cmplt}"></label>
					<button type="submit" class="btn button5" ng-disabled="workVisitForm.$invalid">Submit</button>
				</div>
				<br /> <br /> <br />
			</form>
		</div>

	</div>
	<br />
	<div class="container" style="border: 1px solid #cecece;">
		<div class="col-sm-4 " ng-show="isViewVisitor" ng-controller="getUserController">
			<h2>
				<strong>Visitor Details</strong>
			</h2>
			<div class="panel panel-default well">
				<label><h4>Visitor First Name :</h4></label>{{viewVisitor.firstName}}<br /> <label><h4>Visitor Last Name :</h4></label>{{viewVisitor.lastName}}<br /> <label><h4>Visitor
						Company :</h4></label>{{viewVisitor.company}}<br />
			</div>
		</div>
	</div>
</body>
</html>
