<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title>Work Visit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/node_modules/angularjs-datepicker/src/css/angular-datepicker.css" />
<link rel="stylesheet" href="/node_modules/angularjs-datetime-picker/angularjs-datetime-picker.css" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
<script src="/node_modules/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
<script src="/js/workVisitController.js"></script>

</head>
<body>
	<div class="container" ng-app="myApp">
		<div class="col-sm-12" ng-controller="userController">
			<div class="panel panel-default">
				<div class="panel-body"><a id="release" th:href="@{/}"><label th:text="'Back'" /> </a></div>
			</div>

		</div>
	</div>
</body>
</html>
<style>
.select {
	padding-right: 25px;
	background-image: url(...);
	background-position: right top;
}

.required {
	color: red;
}

select {
	min-width: 120px;
	max-width: 120px;
}

select:focus {
	width: auto;
}

tbody {
	height: 200px;
	display: inline-block;
	width: 100%;
	overflow: auto;
	width: 100%;
}

thead {
	display: inline-block;
}

tr[ng-click] {
	cursor: pointer;
}
</style>